### Example user template template
temp/
nohup.out
pids
data/
*.db

### IntelliJ project files
.idea
*.iml
out
gen

### Python template
### Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*$py.class

### Environments
venv/
.venv/

### Logs
logs/
*.log
